<ion-header>
  <ion-toolbar color="primary">

    <div slot="start" class="toolbar-text">
      <div class="main-title">Create Info</div>
      <div class="sub-title">
        Nicolás Hernández Flórez y Karen Sofía Rueda Piñeros
      </div>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="form-container">

    <form [formGroup]="infoForm" (ngSubmit)="saveInfo()">

      <ion-item class="custom-item">
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="info_title"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea 
          rows="4"
          formControlName="info_description">
        </ion-textarea>
      </ion-item>

      <ion-button 
        expand="block" 
        color="success"
        class="save-btn"
        type="submit" 
        [disabled]="infoForm.invalid">
        Save
      </ion-button>

    </form>

  </div>

</ion-content>