<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="register()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de cuenta</ion-label>
      <ion-select formControlName="role" placeholder="Selecciona tu rol" interface="action-sheet">
        <ion-select-option value="local">Local</ion-select-option>
        <ion-select-option value="repartidor">Repartidor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Registrarse
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="goToLogin()">
      Ya tengo cuenta
    </ion-button>

  </form>

</ion-content>