<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar-title">
      <div class="title-wrapper">
        <div class="main-title">Edit Info</div>
        <div class="sub-title">
          Nicolás Hernández Flórez y Karen Sofía Rueda Piñeros
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-container">

    <form [formGroup]="infoForm" (ngSubmit)="updateInfo()">

      <ion-item class="custom-item">
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="info_title"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea
          rows="4"
          formControlName="info_description">
        </ion-textarea>
      </ion-item>

      <ion-button
        expand="block"
        color="success"
        class="save-btn"
        type="submit"
        [disabled]="infoForm.invalid">
        Save Changes
      </ion-button>

    </form>

  </div>

</ion-content>